a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.navbar-nav { 
  flex-direction: row;
}

div.container-custom {
  margin-bottom: 3rem;
}

a > i { 
  color: #fff; 
} 

#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
/* canvas {
  border: 1px solid black;
} */

card {
  display: inline-block;
}

.angle-right-icon {
  vertical-align: middle;
  float: right;
}

img {
  border-radius: 50%;
  width: 30%;
  height: auto;
}

/* .badge {
  position: absolute;
  top: 0;
  right: 0;
  display:inline-block;
} */