body {
    background-image: url("pics/backround.png");
}

.collapsing {
    width: 0;
    transition-property: width;
    height: 100%;
    white-space: nowrap;
    z-index: 7;
  }
  

img{
    border-radius: 50%;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    padding: 10px;
    max-width:100%!important;
    height: auto;     
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    z-index: 1; 
}
  
  #slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

